Source: checkmate
Section: sound
Priority: optional
Maintainer: Sjoerd Langkemper <sjoerd-debian@linuxonly.nl>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: mpck
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: checks MP3 files
 Mpck scans the MP3 file to see if the frames are where they are supposed 
 to be, if the frame headers are correct  and  if  the headers are consistent 
 throughout the file. It gives some statistics on the file like bitrate and 
 length, and a conclusion whether the file is good or bad.
